.container{
    background-image: linear-gradient(to bottom,#009688 20%, #DBDBD1 50%, gray);
    width: 1440px;
    height: 100vh;
}


.debug{
    border: 2px dashed red;
    /* height: 300px; */
}

main.row{
    width: 90%;
    padding: 20px 0px;
}

/*** ASIDE ***/

.aside_bar{
    background-color: #F9F9F9;
    border-right: 1px solid grey;
    
}

.chat_defoult{
    background-color: #EAEAEA;
}


.circle_icon{
    object-fit:cover;
    overflow: hidden;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.avatar{
    width: 100%;
    
}

.icon{
    color: #B1B1B1;
    
    
}


.notification{
    background-color: #8EDAFC;
}

.text_notification{
    font-weight: bold;
    width: 80%;

}

.link_notification{
    font-size: small;
    font-weight: 100;
    color: black;
    
}

.notification> .circle_icon{
    background-color: white;
    color: #8EDAFC;
    
}

/*** aside list_contacts ***/

.list_contacts{
    list-style-type: none;
    cursor: pointer;
}

.list_contacts:hover{
    background-color: #E9EBEB;
}


.card_chat> span{
    display: block;
}

.card_chat > span:last-child{
    color: grey;
    font-size: 0.8rem;
}

/*** MAIN CHAT ***/

.main_chat{
    background-image: url('../img/mine.jpg') ;
}

.input_message{
    background-color:#EAEAEA ;
    
}