.container{
    background-image: linear-gradient(to bottom,#009688 20%, #DBDBD1 50%, gray);
    min-width: 1440px;
    
}


.debug{
    border: 2px dashed red;
    /* height: 300px; */
}

main.row{
    width: 90%;
    padding: 20px 0px;
}

/*** ASIDE ***/

.aside_bar{
    background-color: #F9F9F9;
    border-right: 1px solid lightgray;
    
    overflow: hidden;
    
}

.chat_defoult{
    background-color: #EAEAEA;
}


.circle_icon{
    object-fit:cover;
    overflow: hidden;
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.avatar{
    width: 100%;
    
}

.icon{
    color: #B1B1B1;
    
}


.notification{
    background-color: #8EDAFC;
}

.text_notification{
    font-weight: bold;
    width: 80%;

}

.link_notification{
    font-size: small;
    font-weight: 100;
    color: black;
    
}

.notification> .circle_icon{
    background-color: white;
    color: #8EDAFC;
    
    
}

/*** aside list_contacts ***/


.chat_section, .jumbo_message{
    overflow-y: auto;
    
}



.list_contacts{
    height: 473px;
}


.list_contacts> li:hover{
    list-style-type: none;
    background-color: #E9EBEB;
    cursor: pointer;
}

.list_contacts> li{
    display: flex;
    align-items: start;
    gap: 0.5rem;
    
    padding: 10px 0 10px 10px;
    border-top: 0.1px solid #E9EBEB;

    height: calc(100% / 6);

}


.card_chat> span{
    display: block;
}

.card_chat > span:last-child{
    color: grey;
    font-size: 0.8rem;
}

.message_time{
    font-size: 0.6rem;
}


/*** MAIN CHAT ***/

.main_chat{
    background-image: url('../img/mine.jpg') ;
    height: 700px;
    overflow:hidden;
    
}


.input_message{
    margin-top: auto;
    background-color:#EAEAEA ;
    
}

/* style message */

.jumbo_message{
    width: 80%;
    margin: 40px auto;
}


.text_message{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.text_message.sent{
    justify-content: left;
}


.text_message> .message{
    
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    max-width: 500px;
    min-width: 400px;
    font-size: 0.9rem;
    line-height: 1rem
}

.text_message sub{
    font-size: 0.6rem;
    float: right;
    margin-top: 15px;
    color: grey;
}

.text_message.received > .message{
    
    background-color: #D5F9BA;
}

.text_message.sent > .message{
    background-color: #FFFFFF;
}
